.App {
  background-color: #660000;
  min-height: 100vh;
}

.App-logo {
  height: 15vmin;
  vertical-align: top;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: calc(10px + 4vmin);
  min-width: 100vw;
}

.Selection-row {
  display: flex;
  flex-direction: row; 
}

.Selection-box {
  height: 250px;
  width: 250px;
  margin: 10px;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 10px solid gray;
}

.Order-button {
  font-size: 30px;
  cursor: pointer;
}